.countdown-item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 35px;
}